.auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }
  
  .auth-inner {
    width: 450px !important;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }

  .Amazon {
    appearance: none;
    cursor: pointer;
    display: inline-flex;
    text-decoration: none;
    background-color: #f5d47a;
    color: #000;
    text-align: center;
    width: 400px;
    border: 1px solid #B38B22;
    border-radius: 3px;
    font-weight: 700;
    line-height: 28px;
    justify-content: center;
    padding-bottom: 8px;
    align-items: center;
    padding-top: 8px;
}

.Amazon span {
    background-image: url("https://s.gr-assets.com/assets/gr/icons/icon-amazon-a.svg");
    background-origin: padding-box;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 21px;
    margin-left: -7px;
    margin-right: 8px;
    width: 21px;
}

.Amazon:hover{
    background-color: #F8C15D;
    color: #333333;
    text-decoration: none;
}
  