body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card2 {
  background-color: white;
  padding: 20px;
  margin-top: 10%;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
  float: center;
  border-radius: 7px;
  border-color: rgb(135, 184, 230);
}

.wrapper {
  padding: 20px;
  margin-top: -20px;
}

.image--cover2 {
  width: "200px";
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  margin-top: -0px;
  object-fit: cover;
  object-position: center;
}

.btn {
  border: 2px solid #15A0E5;
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 40px;
  margin-top: 20px;
  width: 150px;
}

.btn2 {
  border: 2px solid white;
  background-color: white;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  width: 150px;
}

.success {
  border-color: #1569e0;
  color: #1569e0;
}

.hide {
  border-color: white;
  color:white;
}